.l-contact {
  text-align: center;

  &.l-contact--sub {
    padding: 200px 0 120px;

    @include max-screen($breakpoint-mobile) {
      padding-top: 120px;
    }

    .section-title {
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 60px;
      }
    }
  }

  .section-title {
    position: relative;
    margin-bottom: 75px;

    @include max-screen($breakpoint-mobile) {
      font-size: 35px;
    }

    &:before,
    &:after {
      display: block;
      width: 64px;
      height: 71px;
      position: absolute;
      top: 0;
      content: '';
      background-image: url('./images/confetti.svg');
      background-size: cover;

      @include max-screen($breakpoint-mobile) {
        width: 44px;
        height: 49px;
      }
    }
    &:before {
      left: 19%;
      transform: scaleX(-1);

      @include max-screen($breakpoint-mobile) {
        left: -7px;
      }
    }
    &:after {
      left: 75%;

      @include max-screen($breakpoint-mobile) {
        left: 90%;
      }
    }
  }
}

.l-contact__message {
  margin-bottom: 90px;
  line-height: 2.9;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 2.125;
  }
}

.l-contact__flag {
  width: 605px;
  height: 390px;
  position: absolute;
  top: 150px;
  left: 0;

  @include max-screen($breakpoint-mobile) {
    width: 240px;
    height: auto;
  }
}
