.l-complete {
  min-height: calc(100vh - 104px);
  padding-top: 200px;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    min-height: calc(100vh - 76px);
    padding-top: 120px;
  }

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('./images/complete-decor.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      height: 100%;
      right: 0;
      background-image: url('./images/complete-decor-sp.png');
      background-size: cover;
    }
  }

  &.l-complete--sub {
    @include max-screen($breakpoint-mobile) {
      .section-title {
        font-size: 40px;
      }
    }
  }

  .section-title {
    position: relative;
    margin-bottom: 75px;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 60px;
      font-size: 48px;
    }

    &:before,
    &:after {
      display: block;
      width: 54px;
      height: 61px;
      position: absolute;
      top: 0;
      content: '';
      background-image: url('./images/confetti.svg');
      background-size: cover;

      @include max-screen($breakpoint-mobile) {
        width: 38px;
        height: 42px;
        top: 5px;
      }
    }
    &:before {
      left: 30%;
      transform: scaleX(-1);

      @include max-screen($breakpoint-mobile) {
        left: 0;
      }
    }
    &:after {
      left: 65%;

      @include max-screen($breakpoint-mobile) {
        left: 90%;
      }
    }
  }
  h3 {
    margin-bottom: 50px;
    font-size: 30px;

    @include max-screen($breakpoint-mobile) {
      font-size: 30px;
    }
  }
  p {
    line-height: 2.5;

    @include max-screen($breakpoint-mobile) {
      font-size: 16px;
      line-height: 2.125;
    }
  }
}
.l-complete__notice {
  margin-top: 80px;
  font-size: 12px;
  line-height: 2.3;
  color: #727070;

  @include max-screen($breakpoint-mobile) {
    margin-top: 60px;
  }

  a {
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all $duration $easing;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
