.l-contact {
  position: relative;
  text-align: center;

  &:before {
    width: 872px;
    height: 1419px;
    position: absolute;
    top: 0;
    right: -100px;
    content: '';
    background-image: url('./images/confirm-decor.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
      width: 172px;
      height: 224px;
      right: 0;
      background-image: url('./images/confirm-decor-sp.png');
    }
  }

  &.l-contact--sub {
    padding: 200px 0 120px;

    @include max-screen($breakpoint-mobile) {
      padding-top: 120px;
    }

    .section-title {
      @include max-screen($breakpoint-mobile) {
        top: 0;
        margin-bottom: 60px;
      }
    }

    .contact-form__checkboxes {
      label {
        display: block;
        margin-right: 0;
      }
    }
  }

  .section-title {
    position: relative;
    margin-bottom: 75px;

    @include max-screen($breakpoint-mobile) {
      top: 30px;
      font-size: 35px;
    }

    &:before,
    &:after {
      display: block;
      width: 54px;
      height: 61px;
      position: absolute;
      top: 0;
      content: '';
      background-image: url('./images/confetti.svg');
      background-size: cover;

      @include max-screen($breakpoint-mobile) {
        width: 44px;
        height: 49px;
      }
    }
    &:before {
      left: 24%;
      transform: scaleX(-1);

      @include max-screen($breakpoint-mobile) {
        left: -7px;
      }
    }
    &:after {
      left: 71%;

      @include max-screen($breakpoint-mobile) {
        left: 90%;
      }
    }
  }
}

.l-contact__message {
  margin-bottom: 70px;
  line-height: 2.5;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 2.125;
  }
}

.l-contact__flag {
  width: 605px;
  height: 390px;
  position: absolute;
  top: 150px;
  left: 0;

  @include max-screen($breakpoint-mobile) {
    width: 240px;
    height: auto;
  }
}
