.l-index {
  position: relative;

  &:before {
    width: 100%;
    height: calc(100% + 104px);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('./images/home-decor.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
      height: 100%;
      background-image: url('./images/home-decor-sp.png');
    }
  }

  .l-contact {
    &:before {
      display: none;
    }
  }
}

.l-index__intro {
  @include max-screen($breakpoint-mobile) {
    padding-top: 200px;
  }

  .info-block__right {
    @include max-screen($breakpoint-mobile) {
      margin-bottom: -150px;
    }

    img {
      &:first-of-type {
        width: 450px;
        z-index: 1;
        top: 250px;

        @include max-screen($breakpoint-mobile) {
          width: 269px;
          height: 173px;
          top: 0;
        }
      }
      &:last-of-type {
        width: 250px;
        top: -100px;
        left: 20vw;

        @include max-screen($breakpoint-mobile) {
          width: 134px;
          height: 278px;
          top: -200px;
          left: 50vw;
        }
      }
    }
  }
}

.l-index__function {
  padding-top: 80px;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    padding-top: 80px;
  }

  ul {
    margin-top: 100px;

    @include max-screen($breakpoint-mobile) {
      margin-top: 30px;
    }

    li {
      width: 31%;
      position: relative;

      @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 25px;
      }

      &:first-child {
        top: 25px;

        @include max-screen($breakpoint-mobile) {
          top: 0;
        }
      }
      &:last-child {
        top: -25px;

        @include max-screen($breakpoint-mobile) {
          top: 0;
        }
      }
    }
  }
}

.l-index__use {
  padding: 200px 0 250px;

  @include max-screen($breakpoint-mobile) {
    padding: 330px 0 80px;
  }

  .info-block__right {
    @include max-screen($breakpoint-mobile) {
      margin-top: -300px;
      margin-bottom: 150px;
    }

    img {
      &:first-of-type {
        width: 215px;
        top: -60px;
        left: 200px;

        @include max-screen($breakpoint-mobile) {
          width: 149px;
          height: 128px;
          top: 20px;
          left: 50vw;
        }
      }
      &:nth-of-type(2) {
        width: 190px;
        top: 140px;
        left: -150px;

        @include max-screen($breakpoint-mobile) {
          width: 154px;
          height: 131px;
          top: 120px;
          left: -35vw;
        }
      }
      &:last-of-type {
        width: 210px;
        top: 110px;
        left: 230px;

        @include max-screen($breakpoint-mobile) {
          width: 183px;
          height: 157px;
          top: 100px;
          left: 40vw;
        }
      }
    }
  }
}

.l-index__notice {
  justify-content: center;
  position: relative;
  padding: 75px 0;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    padding: 80px 0;
  }

  h2 {
    width: 100%;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  p {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: bold;
    color: $color-secondary;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &:before,
    &:after {
      display: block;
      width: 59px;
      height: 66px;
      position: absolute;
      top: -30px;
      content: '';
      background-image: url('./images/decor-two-lines.svg');
      background-size: cover;

      @include max-screen($breakpoint-mobile) {
        width: 39px;
        height: 46px;
        top: -20px;
      }
    }
    &:before {
      left: 38%;

      @media screen and (max-width: 1400px) {
        left: 35%
      }

      @include max-screen($breakpoint-mobile) {
        left: 5%;
      }
    }
    &:after {
      left: 59%;
      transform: scaleX(-1);

      @media screen and (max-width: 1400px) {
        left: 61%
      }
      @include max-screen($breakpoint-mobile) {
        left: 84.5%;
      }
    }
  }
  a {
    justify-content: center;
    width: 420px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    background-image: linear-gradient(to left, $color-secondary, $color-secondary 50%, #fff 50%, #fff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background-position $duration $easing, color $duration $easing;

    @include max-screen($breakpoint-mobile) {
      width: 95%;
      padding: 25px 0;
      font-size: 20px;
    }

    &:hover {
      color: $color-secondary;
      background-position: 0 0;
      background-size: 210% 100%;
    }
  }
}

.l-index__overseas {
  padding: 120px 0 0;

  @include max-screen($breakpoint-mobile) {
    padding-top: 120px;
  }

  .info-block__left {
    i {
      display: inline-block;
      width: 50px;
      height: 57px;
      position: absolute;
      top: 8px;
      right: 20px;
      background-color: $color-primary;
      transform: translateX(-11vw);

      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url('./images/confetti.svg');
      @include max-screen($breakpoint-mobile) {
        width: 38px;
        height: 42px;
        top: 3px;
        right: -25px;
      }
    }
  }

  .info-block__right {
    img {
      &:first-of-type {
        width: 290px;
        top: 0;

        @include max-screen($breakpoint-mobile) {
          width: 261px;
          height: auto;
          top: -50px;
          left: 15vw;
        }
      }
      &:last-of-type {
        width: 530px;
        height: auto;
        top: 20px;
        left: -10px;

        @include max-screen($breakpoint-mobile) {
          width: 360px;
          height: auto;
        }
      }
    }
  }
}

.l-index__monetize {
  margin-top: -100px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 0;
    padding-bottom: 80px;
  }

  .info-block__right {
    img {
      &:first-of-type {
        width: 250px;
        top: 100px;
        left: 220px;

        @include max-screen($breakpoint-mobile) {
          width: 209px;
          height: 434px;
          left: 20vw;
        }
      }
      &:nth-of-type(2) {
        width: 740px;
        top: -250px;
      }
      &:last-of-type {
        @include max-screen($breakpoint-mobile) {
          width: 93.7%;
          top: -260px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.l-index__monetize-note {
  position: absolute;
  bottom: 180px;
  left: 60px;
  font-size: 10px;
  line-height: 2.2;

  @include max-screen($breakpoint-mobile) {
    bottom: 100px;
    left: 0;
    font-size: 10px;
  }
}

.l-index__faq {
  padding-bottom: 130px;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 80px;
  }

  h2 {
    margin-bottom: 50px;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 40px;
    }
  }

  ul {
    width: 800px;
    margin: 0 auto;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }
}

.l-index__target {
  padding: 100px 0 150px;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 100px;
  }

  .info-block__right {
    img {
      &:first-of-type {
        width: 480px;
        z-index: 1;
        top: -30px;

        @include max-screen($breakpoint-mobile) {
          width: 289px;
          height: 186px;
        }
      }
      &:last-of-type {
        width: 325px;
        top: -100px;
        left: 190px;

        @include max-screen($breakpoint-mobile) {
          width: 223px;
          height: 144px;
          top: -60px;
          left: 30vw;
        }
      }
    }
  }

  .link-button {
    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }
}

.l-index__message {
  position: relative;
  padding-bottom: 230px;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 120px;
  }

  h3 {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.7;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 40px;
      font-size: 20px;
    }
  }
  .section-title {
    width: 600px;
    margin: 0 auto;
    font-family: ヒラギノ明朝 Pro W6,YuMincho,游明朝,'Noto Serif JP',Times New Roman,Hiragino Mincho ProN,HGS明朝B,ＭＳ Ｐ明朝,serif,Meiryo,Sawarabi Mincho,メイリオ,ＭＳ Ｐゴシック,sans-serif;
    line-height: 1.8;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      font-size: 34px;
    }
  }
  p {
    margin-top: 30px;
    line-height: 2.7;

    @include max-screen($breakpoint-mobile) {
      font-size: 16px;
      line-height: 2.125;
    }
  }
  img {
    width: 520px;
    height: auto;
    position: absolute;
    top: 120px;
    left: 170px;

    @include max-screen($breakpoint-mobile) {
      width: 349px;
      height: 225px;
      top: 50px;
      left: 5vw;
    }
  }
}
