.l-privacy {
  padding: 200px 0 120px;
  text-align: center;

  .section-title {
    position: relative;
    margin-bottom: 75px;

    &:before,
    &:after {
      display: block;
      width: 64px;
      height: 71px;
      position: absolute;
      top: 0;
      content: '';
      background-image: url('./images/confetti.svg');
      background-size: cover;
    }
    &:before {
      left: 26%;
      transform: scaleX(-1);
    }
    &:after {
      left: 70%;
    }
  }

  input[type='submit'] {
    font-weight: bold;
  }
}
