.contact-form {
  width: 1000px;
  position: relative;
  margin: 0 auto;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }

  input[type='submit'] {
    font-weight: bold;
  }
}
.contact-form__row {
  margin-bottom: 50px;
  text-align: left;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 40px;
  }

  label {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 600;

    @include max-screen($breakpoint-mobile) {
      font-size: 17px;
    }
  }
  input {
    &[type='text'],
    &[type='email'] {
      width: 100%;
      padding: 25px 30px;
      border-radius: 10px;
      background-color: #191919;

      @include max-screen($breakpoint-mobile) {
        padding: 20px 25px;
        font-size: 17px;
      }
    }
  }
  textarea {
    width: 100%;
    padding: 28px 35px;
    resize: none;
    border-radius: 10px;
    background-color: #191919;

    @include max-screen($breakpoint-mobile) {
      padding: 20px 25px;
      font-size: 17px;
    }
  }
}
.contact-form__row--required {
  label {
    &:after {
      display: inline-block;
      width: 65px;
      height: 24px;
      margin-left: 30px;
      font-size: 12px;
      line-height: 2;
      content: '必須';
      text-align: center;
      color: #2e2e2e;
      background-color: $color-primary;

      @include max-screen($breakpoint-mobile) {
        width: 52px;
        height: 19px;
        margin-left: 15px;
        font-size: 11px;
      }
    }
  }
}
.contact-form__checkboxes {
  label {
    font-size: 16px;
    font-weight: 500;

    @include max-screen($breakpoint-mobile) {
      font-size: 17px;
    }
  }
}
.contact-form__terms {
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 500;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 0;
    font-size: 14px;
  }

  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  label {
    // &:after {
    //   top: -1px !important;
    // }
  }
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all $duration $easing;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
.contact-form__notice {
  margin-top: 80px;
  font-size: 14px;
  line-height: 2.3;
  color: #727070;

  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}
