.custom-checkboxes {
  input {
    display: none;
    width: initial;
    height: initial;
    margin-bottom: 0;
    padding: 0;
    
    &[type='checkbox'] {
      cursor: pointer;
    }
  }
  label {
    position: relative;
    margin-right: 21px;
    padding-left: 30px;
    cursor: pointer;

    @include max-screen($breakpoint-mobile) {
      display: block;
      margin-right: 0 !important;
    }

    &:before {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      border: 1px solid #2c2c2c;
      border-radius: 3px;
      background-color: #171717;
      transition: border $duration $easing;
      transform: translateY(-50%);
    }
    &:after {
      display: none;
      width: 13px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 5px;
      margin-left: 0;
      content: '';
      background: url('./images/checkmark.png');
      background-size: cover;
      transform: translateY(-50%);
    }
  }
  input[type='text'] {
    display: inline-block;
    width: 82.8%;
    margin-bottom: 10px;

    @include max-screen($breakpoint-mobile) {
      width: 61.5%;
      margin-bottom: 15px;
    }
  }
}

.custom-checkboxes input:checked + label:before {
  background-color: $color-primary;
  box-shadow: none;
}

.custom-checkboxes input:checked + label:after {
  display: block;
}
