.custom-checkboxes {
  input {
    display: none;
    width: initial;
    height: initial;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
  }
  label {
    position: relative;
    margin-right: 25px;
    padding-left: 35px;
    cursor: pointer;

    &:before {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      border: 1px solid #2c2c2c;
      border-radius: 3px;
      background-color: #171717;
      transition: border $duration $easing;
      transform: translateY(-50%);
    }
    &:after {
      display: none;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 2px;
      left: 1px;
      margin-left: 0;
      content: '';
      background: url('./images/checkmark.svg');
      background-size: cover;
    }
  }
  input[type='text'] {
    display: inline-block;
    width: 82%;
    margin-bottom: 20px;
  }
}

.custom-checkboxes input:checked + label:before {
  background-color: $color-primary;
  box-shadow: none;
}

.custom-checkboxes input:checked + label:after {
  display: block;
}
