.description-block {
  img {
    width: 100%;
  }
  h3 {
    margin: 25px 0;
    font-size: 26px;

    @include max-screen($breakpoint-mobile) {
      margin: 20px 0 10px;
      font-size: 22px;
      letter-spacing: -.03em;
    }
  }
  p {
    line-height: 2;
    text-align: left;
    letter-spacing: -.05em;

    @include max-screen($breakpoint-mobile) {
      font-size: 16px;
    }
  }
}
