.faq-block {
  margin-bottom: 10px;
  padding: 45px 120px;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  background-color: #191919;

  @include max-screen($breakpoint-mobile) {
    padding: 30px 30px 30px 50px;
  }

  label {
    display: inline-block;
    margin-right: 30px;
    margin-left: -60px;

    @include max-screen($breakpoint-mobile) {
      margin-right: 0;
      margin-left: -40px;
      vertical-align: top;
    }
  }

  &.is-active {
    color: $color-primary;
    .faq-block__title {
      &:before {
        border-color: $color-primary;
      }
      &:after {
        top: 7px;
        right: -52px;
        border-top-color: $color-primary;
        border-right-color: $color-primary;
        transform: rotate(135deg);

        @include max-screen($breakpoint-mobile) {
          top: 8px;
          right: -21px;
        }
      }
    }
    .faq-block__description {
      display: block;
    }
  }
}

.faq-block__title {
  display: inline-block;
  width: 99%;
  position: relative;
  font-weight: 500;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    font-size: 16px;
  }

  &:before {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: -60px;
    content: '';
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all $duration $easing;

    @include max-screen($breakpoint-mobile) {
      width: 19px;
      height: 19px;
      top: 2px;
      right: -28px;
    }
  }
  &:after {
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    right: -51px;
    content: '';
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all $duration $easing;
    transform: rotate(45deg);

    @include max-screen($breakpoint-mobile) {
      width: 5px;
      height: 5px;
      top: 9px;
      right: -20px;
      border-top-width: 2px;
      border-right-width: 2px;
    }
  }
}

.faq-block__description {
  display: none;
  margin-top: 40px;
  font-weight: 600;

  @include max-screen($breakpoint-mobile) {
    margin-top: 30px;
    font-size: 16px;
  }
}
