.footer {
  position: relative;
  padding: 40px 0;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    padding: 25px 0;
  }

  small {
    font-size: 12px;
    color: #727070;

    @include max-screen($breakpoint-mobile) {
      font-size: 10px;
    }

    a {
      text-decoration: underline;
      color: #fff;
      transition: color $duration $easing;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
