.header {
  position: relative;
  z-index: 10;
}

.header__logo {
  position: absolute;
  top: 35px;
  left: 35px;

  @include max-screen($breakpoint-mobile) {
    width: 80px;
    top: 15px;
    left: 15px;
    text-align: left;
  }
}
