.header {
  position: relative;
  z-index: 10;
}

.header__logo {
  position: absolute;
  top: 40px;
  left: 40px;

  @include max-screen($breakpoint-mobile) {
    width: 70px;
    top: 20px;
    left: 20px;
    text-align: left;
  }
}
