.hero {
  justify-content: center;
  height: 100vh;
  position: relative;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    text-align: left;

    &:before {
      position: absolute;
      bottom: -50px;
      left: 50%;
      font-size: 12px;
      font-weight: bold;
      content: 'SCROLL';
      color: #fff;
      transform: translateX(-50%);
    }
    &:after {
      width: 16px;
      height: 16px;
      position: absolute;
      bottom: -80px;
      left: 50%;
      content: '';
      border-right: 5px solid #fff;
      border-bottom: 5px solid #fff;
      transform: translateX(-50%) rotate(45deg);
      animation: scroll-down 1.5s infinite;
    }
  }
}

.hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.hero__title {
  font-size: 90px;
  font-weight: bold;
  line-height: 1.21;

  @include max-screen($breakpoint-mobile) {
    font-size: 60px;
  }

  i {
    display: inline-block;
    width: 85px;
    height: 97px;
    position: absolute;
    top: 50%;
    right: 8%;
    opacity: 0;
    background-color: $color-primary;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('./images/confetti.svg');
    @include max-screen($breakpoint-mobile) {
      width: 60px;
      height: 72px;
      top: auto;
      right: 15%;
      bottom: -145px;
      left: auto;
    }

    &.is-moving {
      opacity: 1;
      animation: pop .4s 1 ease-in-out;
    }
  }
}

.hero__description {
  margin-top: 80px;
  font-size: 26px;

  @include max-screen($breakpoint-mobile) {
    font-size: 20px;
  }
}
