.info-block {
  &.info-block--reverse {
    .info-block__left {
      padding-right: 0;
      padding-left: 80px;

      order: 2;
      @include max-screen($breakpoint-mobile) {
        padding-left: 0;
      }
    }
    .info-block__right {
      order: 1;
    }
  }
}

.info-block__left {
  width: 59%;
  position: relative;
  padding-right: 80px;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    padding-right: 0;

    order: 2;
  }

  h2 {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 30px;
      font-size: 38px;
      line-height: 1.35;
    }
  }

  p {
    line-height: 2.5;

    @include max-screen($breakpoint-mobile) {
      font-size: 16px;
      line-height: 2.125;
    }

    em {
      font-weight: bold;
      font-style: initial;
      border-bottom: 3px solid $color-primary;
    }
  }
}

.info-block__right {
  width: 41%;
  position: relative;

  @include max-screen($breakpoint-mobile) {
    width: 100%;

    order: 1;
  }

  img {
    position: relative;
  }
}
